.header {
   &__content {
      max-width: 1044px;
      padding: 0 6px;
   }

   &__menu {
   }
}
.menu {
   &__body {
   }

   &__list {
      height: 82px;
      padding: 10px 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      li {
         margin: 0px 0px 0px 33px;
      }
   }

   &__link {
      font-size: 20px;
      color: black;
      font-weight: 500;
   }
}
