//====================================================================================================
.hello {
   padding: 38px 0px 70px 0px;
   @media (max-width: $md1+px) {
      padding: 0px 0px 70px 0px;
   }
   @media (max-width: $md3+px) {
      padding: 0px 0px 60px 0px;
   }
   &__container {
      display: flex;
      @media (max-width: $md3+px) {
         flex-direction: column-reverse;
         text-align: center;
         justify-content: center;
         align-items: center;
      }
   }

   &__content {
      align-items: flex-start;
      padding: 18px 110px 0px 0px;
      flex: 1 1 auto;
      *:last-child {
         margin-bottom: 0;
      }
      @media (max-width: $md1+px) {
         padding: 18px 50px 0px 0px;
      }
      @media (max-width: $md3+px) {
         padding: 0px 0px 0px 0px;
      }
   }

   &__title {
      margin: 0px 0px 25px 0px;
      @media (max-width: $md3+px) {
         margin: 0px 0px 20px 0px;
      }
   }

   &__text {
      margin: 0px 0px 35px 0px;
      @media (max-width: $md3+px) {
         margin: 0px 0px 25px 0px;
      }
   }

   &__btn {
      margin: 0px 0px 25px 0px;
   }

   &__avatar {
      flex: 0 0 243px;
      height: 243px;
      border-radius: 50%;
      overflow: hidden;
      // box-shadow: -5px 13px 0px 0px #edf7fa;
      img {
         max-width: 100%;
      }
      @media (max-width: $md3+px) {
         flex: 0 0 170px;
         height: 170px;
         width: 170px;
         margin: 0px 0px 40px 0px;
      }
   }
}

.recent-posts {
   background: #edf7fa;
   padding: 25px 0px 13px 0px;
   @media (max-width: $md3+px) {
      padding: 0px 0px 23px 0px;
   }
   &__container {
   }

   &__header {
      display: flex;
   }

   &__title {
      flex: 1 1 auto;
      margin: 0px 0px 20px 0px;
      padding: 0px 20px 0px 0px;
   }

   &__view-all {
      font-size: 16px;
      // white-space: nowrap;
      flex: 0 0 auto;
      color: #00a8cc;
      line-height: 23px;
      &:hover {
         color: #03677e;
         transition: all 0.5s ease 0s;
      }

      @media (max-width: $md3+px) {
         display: none;
      }
   }

   &__items {
      margin: 0px -10px;
      @media (min-width: $md3+px) {
         display: flex;
      }
   }

   &__column {
      flex: 0 1 50%;
      padding: 0px 10px;
      margin: 0px 0px 17px 0px;
   }
}

.recent-post {
   background-color: #fff;
   box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
   border-radius: 4px;
   padding: 20px;
   height: 100%;
   &__title {
      font-weight: 700;
      font-size: 26px;
      line-height: 38 /26 * 100%;
      color: inherit;
      transition: color 0.3s ease 0s;
      display: inline-block;
      margin: 0px 0px 17px 0px;
      &:hover {
         color: #ff6464;
      }
      @media (max-width: $md3+px) {
         font-size: 22px;
      }
   }

   &__info {
      font-size: 18px;
      line-height: 26 / 18 * 100%;
      color: #21243d;
      span {
         margin: 0px 10px;
      }
      margin: 0px 0px 15px 0px;
      @media (max-width: $md3+px) {
         font-size: 16px;
      }
   }

   &__text {
   }
}
.text {
}

//====================================================================================================
