/*Null Style CSS*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.container {
  width: 1170px;
  margin: 0 auto;
  position: relative;
}

.btn {
  text-decoration: none;
  display: inline-block;
  height: 250px;
  width: 700px;
  border-radius: 10px;
  background-color: #4949cc;
  color: wheat;
  font-size: 100px;
  -webkit-box-shadow: 0 15px 0px #6e6b6b;
          box-shadow: 0 15px 0px #6e6b6b;
  text-transform: uppercase;
  top: 0;
  letter-spacing: 10px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

.btn:hover {
  top: 10px;
  background-color: #040441;
  -webkit-box-shadow: 0 5px 0px #6e6b6b;
          box-shadow: 0 5px 0px #6e6b6b;
  color: red;
}
