/*Null Style CSS*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.header {
  background-color: #522c7a;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  color: white;
}

.header__logo {
  width: 40px;
  height: 40px;
  background-color: yellow;
  border-radius: 50%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item {
  height: 12px;
  width: 60px;
  margin: 0px 20px 0px 0px;
  background-color: yellow;
}

.item:last-child {
  margin: 0;
}

.three-column__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 30px 0px;
}

.three-column__column {
  background-color: #01946f;
  padding: 10px;
  margin: 0px 30px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.three-column__column:last-child {
  margin: 0;
}

.three-column__image {
  height: 200px;
  background-color: yellow;
  margin: 0px 0px 10px 0px;
}

.three-column__text {
  color: white;
  font-size: 20px;
}

.two-column__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.two-column__column {
  background-color: #01946f;
  padding: 10px;
  margin: 0px 30px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.two-column__column:last-child {
  margin: 0;
}

.two-column__image {
  height: 200px;
  background-color: yellow;
  margin: 0px 0px 10px 0px;
}

.two-column__text {
  color: white;
  font-size: 20px;
}
