// File null style css
@import "_reset.scss";

.container {
   width: 1170px;
   margin: 0 auto;
   // border: 1px solid black;

   position: relative;
}

.btn {
   text-decoration: none;
   display: inline-block;
   height: 250px;
   width: 700px;
   border-radius: 10px;
   background-color: rgb(73, 73, 204);
   color: wheat;
   font-size: 100px;
   box-shadow: 0 15px 0px rgb(110, 107, 107);
   text-transform: uppercase;
   top: 0;
   letter-spacing: 10px;
   transition-property: all;
   transition-duration: 2s;
}

.btn:hover {
   top: 10px;
   background-color: rgb(4, 4, 65);
   box-shadow: 0 5px 0px rgb(110, 107, 107);
   color: red;
}
