// File null style css
@import "_reset.scss";

.header {
   background-color: rgb(82, 44, 122);

   &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      color: white;
   }

   &__logo {
      width: 40px;
      height: 40px;
      background-color: yellow;
      border-radius: 50%;
   }

   &__menu {
   }
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}
.menu {
   display: flex;
}
.item {
   height: 12px;
   width: 60px;
   margin: 0px 20px 0px 0px;
   background-color: yellow;
}

.item:last-child {
   margin: 0;
}

.three-column {
   &__row {
      display: flex;
      margin: 0px 0px 30px 0px;
   }

   &__column {
      background-color: rgb(1, 148, 111);
      padding: 10px;
      margin: 0px 30px 0px 0px;
      flex: 0 1 33.333%;
   }

   &__column:last-child {
      margin: 0;
   }

   &__image {
      height: 200px;
      background-color: yellow;
      margin: 0px 0px 10px 0px;
   }

   &__text {
      color: white;
      font-size: 20px;
   }
}
.two-column {
   &__row {
      display: flex;
   }

   &__column {
      background-color: rgb(1, 148, 111);
      padding: 10px;
      margin: 0px 30px 0px 0px;
      flex: 0 1 50%;
   }
   &__column:last-child {
      margin: 0;
   }

   &__image {
      height: 200px;
      background-color: yellow;
      margin: 0px 0px 10px 0px;
   }

   &__text {
      color: white;
      font-size: 20px;
   }
}
